{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Poster</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}
    {{!-- Upload image --}}
    <div>
      <a href="#" class="btn btn-primary" id="upload_widget">Upload</a>
      <img src="" style="display:none" id="uploaded_image"/>
    </div>
    {{!-- Upload image --}}
    <input type="submit" value="Add Product" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}

{{#block 'js'}}

{{!-- Initialise Cloudinary --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

{{!-- Get signature --}}
<script>
    const cloudinaryName = '{{cloudinaryName}}';
    const cloudinaryApiKey = '{{cloudinaryApiKey}}';
    const cloudinaryPreset = '{{cloudinaryPreset}}';
    async function generateSignature(callback, params_to_sign) {
        let response = await axios.get('/cloudinary/sign',{
            'params':{
                params_to_sign
            }
        });
        // response.data contains the signature
        callback(response.data);
    }
    // create the cloudinary widget
    const config = {
        cloudName: cloudinaryName,
        apiKey: cloudinaryApiKey,
        uploadPreset: cloudinaryPreset,
        uploadSignature: generateSignature
    };
    const myWidget = cloudinary.createUploadWidget(config, (error, result) => {
        if (error) {
            console.log(error);
        };
        if (!error && result && result.event === 'success') {
            console.log(result);
            document.querySelector('#id_image_url').value = result.info.url;
            document.querySelector("#uploaded_image").src = result.info.url;
            document.querySelector("#uploaded_image").style.display = 'inline';
        }
    
    })
    document.querySelector("#upload_widget").addEventListener('click', function(){
        myWidget.open();
    })
</script>

{{/block}}