{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Media Property</th>
            <th>Cost (cents)</th>
            <th>Description</th>
            <th>Date</th>
            <th>Stock</th>
            <th>Height (cm)</th>
            <th>Width (cm)</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        {{#each posters}}
            <tr>
                <td>
                    {{this.id}}
                </td>
                <td>
                    {{this.title}}
                </td>
                <td>
                    {{this.mediaproperty.name}}
                </td>
                <td>
                    {{this.cost_cents}}
                </td>
                <td>
                    {{this.description}}
                </td>
                <td>
                    {{this.date}}
                </td>
                <td>
                    {{this.stock}}
                </td>
                <td>
                    {{this.height_cm}}
                </td>
                <td>
                    {{this.width_cm}}
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/posters/{{this.id}}/update">Update</a>
                    <a class="btn btn-danger btn-sm" href="/posters/{{this.id}}/delete">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}